body {
	width: 150px;
	height: 220px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	/* margin-left: 200px; */
	
}

div {
	width: 150px;
	text-align: center;
}

#logo {
	width: 75px;
	height: 75px;
	margin-bottom: 5px;
	margin-top: 10px;
	
}
#aligner {
	float: left;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.button {
	border: none;
	margin-top: 5px;
    width: 120px;
    height: 25px;
    background-color: #92d050;
    color: white;
    font-weight: bolder;
    cursor: pointer;
	transition: color 0.4s ease;
}

#close {
	border: none;
	margin-top: 5px;
    width: 25px;
    height: 25px;
    background-color: #ff9f9f;
    color: white;
    font-weight: bolder;
    cursor: pointer;
	margin-left: -3px;
	padding: 0;
}

#options {
	display: block;
	margin-left: 160px;
	position: absolute;
}

#textarea {
	display: block;
	width: 120px;
	margin-left: -145px;
	position: absolute;
}

#ta {
	margin-top: 5px;
	height: 79px;
	width: 114px;
	text-align: left;
	border: solid 1px black;
	padding: 2px;
}

#entry {
	font-size: 12px;
}