body {
	width: 150px;
	height: 200px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

div {
	width: 100%;
	text-align: center;
}

#logo {
	width: 75px;
	height: 75px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.button {
	margin-top: 5px;
    width: 48px;
    cursor: pointer;
}


.right {
	margin-left:5px;
}