body {
	width: 150px;
	height: 200px;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

div {
	width: 100%;
	text-align: center;
}

#logo {
	width: 75px;
	height: 75px;
	margin-bottom: 5px;
	margin-top: 10px;
}

.button {
	border: none;
	margin-top: 5px;
    width: 120px;
    height: 25px;
    background-color: 92d050;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}