.PERSA .ttt, .PEAES .ttt{
  visibility: hidden !important;
  width: 120px !important;
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  border: 2px solid #92D050 !important; 
  border-radius: 6px !important;
  padding: 5px 0 !important;
  /* Position the tooltip */
  position: absolute !important;
  z-index: 10000000000 !important;
  top: 20%;
  right: 105%;
}

 .parent .ttt{
  visibility: hidden !important;
  width: 120px !important;
  background-color: white !important;
  color: black !important;
  text-align: center !important;
  border: 2px solid #92D050 !important; 
  border-radius: 6px !important;
  padding: 5px 0 !important;
  /* Position the tooltip */
  position: absolute !important;
  z-index: 10000000000 !important;
  bottom: 100%;
  left: 50%;
}

.PERSA:hover .ttt, .PEAES:hover .ttt, .parent:hover .ttt{
  visibility: visible !important;
}

.PERSA .ttt:after, .PEAES .ttt:after, .parent .ttt:after {
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 101% !important;
  margin-top: -5px !important;
  border-width: 5px !important;
  border-style: solid !important;
  border-color: transparent transparent transparent #92D050 !important;
}

